

<div class="row">
 <input type="text" id="searchbox" class="all" placeholder="חיפוש / סינון">
 <a href="#" class="button approve_all">
  אישור כולל
 </a>
</div>

<table id="summary_table" class="hover display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>מס דיווח</th>
      <th>שם</th>
      <th>מזהה משתמש</th>
      <th>אימייל</th>
      <th>ספק</th>
      <th>תאריך איסוף</th>
      <th>סיבת איסוף</th>
      <th>מאכל</th>
      <th>אריזה</th>
      <th>כמות</th>
      <th>הערות משתמש</th>
      <th>
       פעולות
      </th>
    </tr>
  </thead>

  <tbody>
    <% @reports.map do |report| %>
      <% next unless report.collected_any? %>
      <% report.supplier_reports.map do |supp_report| %>
           <% next unless supp_report.collected_any? %>
        <% supp_report.food_type_reports.map do |food_type_report| %>
          <% food_type_report.container_reports.map do |container_report| %>
            <% next if !container_report.collected_any? %>
            <tr class="pickup-report <%= container_report.approved? ? '' : 'unapproved'%>" data-report-id="<%= report.id %>" data-container-report-id="<%= container_report.id %>" data-pickup-id="<%= report.pickup.id %>">
              <td class="report_id"><%= report.id %></td>
              <td class="user_name"><%= report.pickup.user.name %></td>
              <td class="user_priority_id"><%= report.pickup.user.priority_id %></td>
              <td class="user_email"><%= report.pickup.user.email %></td>
              <td class="supplier_name"><%= supp_report.supplier.name %></td>
              <td class="pickup_date"><%= report.pickup.date %></td>
              <td class="pickup_reason"><%= supp_report.pickup_reason.try(:name) %></td>
              <td class="food_type_name"><%= food_type_report.name %></td>
              <td class="container_name"><%= container_report.container.name %></td>
              <td class="container_quantity"><%= best_in_place container_report, :quantity, input: :text %></td>
              <td class="report_notes"><%= report.notes.blank? ? "אין הערות מתנדב" : report.notes %></td>
              <td class="options">
               <span class="modify_approval tiny button <%= container_report.approved? ? 'success' : 'alert' %>" data-approved="<%= container_report.approved? %>">
                <%= container_report.approved? ? "מאושר" : "פסול" %>
               </span>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </tbody>
</table>

<div class="row">
 <input type="text" id="searchbox" class="not" placeholder="חיפוש / סינון">
</div>


<table id="summary_table_not_collected" class="hover display dataTable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>מס דיווח</th>
      <th>שם</th>
      <th>מזהה משתמש</th>
      <th>אימייל</th>
      <th>ספק</th>
      <th>תאריך איסוף</th>
      <th>סיבת איסוף</th>
      <th>הערות משתמש</th>
    </tr>
  </thead>

  <tbody>
    <% @reports_not_collected.map do |report| %>
      <% report.supplier_reports.map do |supp_report| %>
            <% next if supp_report.collected_any? %>
            <tr class="pickup-report" data-report-id="<%= report.id %>" data-pickup-id="<%= report.pickup.id %>">
              <td class="report_id"><%= report.id %></td>
              <td class="user_name"><%= report.pickup.user.name %></td>
              <td class="user_priority_id"><%= report.pickup.user.priority_id %></td>
              <td class="user_email"><%= report.pickup.user.email %></td>
              <td class="supplier_name"><%= supp_report.supplier.name %></td>
              <td class="pickup_date"><%= report.pickup.date %></td>
              <td class="pickup_reason">
               <%= best_in_place supp_report, :pickup_reason_id, as: :select,
                collection: PickupReason.reasons_collection.insert(0, ["", "---"]) %>
              </td>
              <td class="report_notes"><%= report.notes.blank? ? "אין הערות מתנדב" : report.notes %></td>
            </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div style="text-align: center; width: 100%;">
  <div> Currently Using the Dropbox of: <%= @dropbox_email %> </div>
  <u><%= link_to "link dropbox", dropbox_authorize_path %></u>
</div>
